*{
    margin: auto;
}

/*Inizio impostazioni header*/
#logo-pic{
    width: 100px;
    padding: 15px;
    vertical-align: middle;
}

#titolo{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 50px;
    vertical-align: middle;
}
/*Fine impostazioni header*/



/*Inizio formattazione main*/

/*Inizio formattazione main container*/
main{
    box-sizing: border-box;
    background-color:#F6F8F9;
    height: 1500px;
    padding-top: 50px;
}
/*Fine formattazione main container*/

/*Inizio Add task e Add section*/
.buttons{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

::placeholder{
    color: lightgray;
}

#add-task, #add-section{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border: lightgray solid 1px;
    border-radius: 10px;
}

#add-task{
    background-color: rgb(58, 155, 237);
    color: white;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;

}

#add-section{
    text-align: center;
    border: lightgray solid 1px;
}
/*Fine Add task e Add section*/

/*Inizio formattazione titolo sezioni*/
.today, .upcoming{
    margin-top: 50px;
    margin-bottom: 15px;
}
/*Fine formattazione titolo sezioni*/

/*Inizio formattazione Checklist*/
.checklist{
    height: 800px;
    background-color: white;
    width: 70%;
    margin: auto;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.titolino{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.new-task{
    margin-bottom: 15px;
}

.freccia{
    font-size: 15px;
    padding-right: 10px;
}

.text{
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
    vertical-align: middle;
   
}

.box-done, .box-undone{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
}

.box-done{
    border: green solid 2px;
}

.box-undone{
    border:  solid 2px;
}
.spunta-done, .spunta-undone{
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    line-height: 30px;
}

.spunta-done, .box-done{
    color: green;
}

.spunta-undone, .box-undone{
    color: red;
}
.text-task{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    
}

/*Inizio forma selettori*/
.selector{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}
/*Fine forma selettori*/


/*Inizio colori slettori*/
.editorial{
    background-color: rgb(58, 155, 237);
}

.q1-goals{
    background-color: rgb(137, 87, 221);
}

.recruiting{
    background-color: rgb(85, 180, 153);
}

.mobile{
    background-color: rgb(237, 140, 40);
}

.website{
    background-color: rgb(205, 73, 144);
}

.sales{
    background-color: rgb(161, 193, 29);
}

.selector-text{
    font-family: 'Roboto', sans-serif;
    color: white;
}
/*Fine colori slettori*/



.content-sezione-2{
    margin-bottom: 15px;
}