

/*Inizio impostazioni header*/
#logo-pic{
    width: 100px;
    padding: 15px;
    vertical-align: middle;
}

#titolo{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 50px;
    vertical-align: middle;
}
/*Fine impostazioni header*/



/*Inizio formattazione main*/
main{
    box-sizing: border-box;
    background-color:#F6F8F9;
    height: 1000px;
    padding-top: 50px;
}

.buttons{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#add-task, #add-section{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#add-task{
    background-color: rgb(58, 155, 237);
    color: white;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;

}

#add-section{
    text-align: center;
    color:lightgray;
}

#add-task, #add-section{
    border-radius: 10px;
}

.checklist{
    height: 500px;
    background-color: white;
    width: 70%;
    margin: auto;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.titolino{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.new-task{
    margin-bottom: 15px;
}

.freccia{
    font-size: 15px;
    padding-right: 10px;
}

.box{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: solid green 2px;
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
       
}

.spunta{
    display: inline-block;
    color: green;
    position: absolute;
    padding: 50%;
    vertical-align: middle;
}

.text{
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
    vertical-align: middle;
   
}

.content-sezione{
    display: inline-block;
    vertical-align: middle;
}

.selettore{
    display: inline-block;
    background-color: hotpink;
    border-radius: 25px;
    padding: 13px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

